/****************************************
 * general purpose css-only components  *
 ****************************************/

 body {
  font-family: "Playwrite AU VIC", cursive !important;
  font-size: 60.5%;
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }

 /* .form-opions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 } */

 .row-fluid .fm-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .row-fluid .fm-panel .stars-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
 }

 .row-fluid .fm-panel .stars-items h5 {
  font-size: 14px;
 }

 /* .stars-items .stars-childs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 } */

 /* .stars-items .rating {
  text-align: center;
 }
  */
 .row-fluid .fm-panel h4 {
  display: flex;
  color: #fff;
  justify-content: center;
  margin: 2em;
 }

 .form-opions .form-items-restaurans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .form-opions .form-items-restaurans .checkbox {
  font-size: 12px;
  margin: .5em;
 }

 .form-opions h5 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 1.5em;
 }

 .row-fluid .fm-restaurant-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .8em;
 }

 .fm-restaurant-list h4 {
  font-size: 20px;
 }

.row-fluid .table {
  display: flex;
}

 .row-fluid .fm-panel .checkbox {
  display: flex;
 }

.fm-right {
  text-align: right;
}



/****************************************
 * angular components                   *
 ****************************************/

.ng-scope {
 box-sizing: border-box;
}

.ng-scope .breadcrumb {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1em;
}

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;

}

ul.fm-rating {
  display: inline-block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #000000;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  blue  0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}


.fm-deliver-to {
  display: block;
  width: 450px;
}


input.ng-invalid.ng-dirty {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
}




/****************************************
 * route specific css                   *
 ****************************************/


/* customer */

/* .fm-customer-bkg {
  background-image: url('../img/customer_bkg.jpg');
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
  height: 705px;
} */


/* restaurant list */

.fm-restaurant-list {
  display: flex;
   gap: 1em;
   /* background-color: #E9322D; */
  min-height: 646px !important;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container .card {
  margin: 1em;
}

.card-container .card-body {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  margin: 1em;
  transition: all .7s ease;
}

.card-container .card-body:hover {
  transition: all .7s ease;
  box-shadow: 10px 10px 10px 5px #111;
}

/* .fm-restaurant-list {
  
} */

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  /* margin: 5em; */
  width: 100px;
}

.fm-restaurant-list img {
  margin: 15px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}


/* menu */

.fm-restaurant  {
  margin-bottom: 20px;
}

.fm-restaurant h3 {
  margin-top: 0;
}

.fm-restaurant img {
  width: 150px;
  height: 150px;
}

.fm-restaurant .fm-rating {
  display: block;
}

.fm-menu-list li {
  list-style-type: none;
}

.fm-menu-list li span {
  padding-right: 20px;
}

.fm-menu-list a {
  color: inherit;
}

.fm-menu-list a:hover {
  text-decoration: none;
  color: inherit;
}

.fm-menu-list .icon-plus-sign {
  visibility: hidden;
}

.fm-menu-list li:hover .icon-plus-sign {
  visibility: visible;
}

.fm-menu-list li:hover {
  color: black;
}

.fm-menu-list ul li {
  text-align: center;
}

.fm-cart li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fm-cart .icon-remove-sign {
  visibility: hidden;
}

.fm-cart li:hover .icon-remove-sign {
  visibility: visible;
}

.fm-cart form {
  padding-left: 2px;
}

.fm-cart p {
  padding-left: 20px;
  padding-top: 5px;
}


/* checkout */

.fm-checkout table {
  width: 960px;
  margin-left: -10px;
}

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}
